@import './base.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* generic link styling for the theme */
a {
  color: var(--primary);
}

@media (min-width: 1024px) {
  body {
    display: block;
  }
}
